.DS_Store
Thumbs.db
desktop.ini

node_modules/
Backend/node_modules
vendor/
.pnp/
.env
Backend/.env

dist/
build/
out/
*.exe
*.dll
*.so

.vscode/
.idea/
*.suo
*.ntvs*

*.log
npm-debug.log*
yarn-error.log*

.env
.env.local
*.pem
*.key